# FOR URL REWRITING
# PG
<IfModule mod_rewrite.c>
RewriteEngine on

# for get admin result
RewriteRule ^gar/?$ get_admin_result.xhr.php

# for get social_handle result
RewriteRule ^gshr/?$ get_social_handle_result.xhr.php

# for get message result
RewriteRule ^gmr/?$ get_message_result.xhr.php

# for get subscriber result
RewriteRule ^gsr/?$ get_subscriber_result.xhr.php

# for get transaction result
RewriteRule ^gtr/?$ get_transaction_result.xhr.php

# for get partner result
RewriteRule ^gpr/?$ get_partner_result.xhr.php

# for get news result
RewriteRule ^gnr/?$ get_news_result.xhr.php

# for get programme result
RewriteRule ^gpmr/?$ get_programme_result.xhr.php

</IfModule>